@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: system-ui, sans-serif;
  --font-heading: system-ui, sans-serif;
  --primary: #3C3B6E;
  --secondary: #B22234;
  --accent: #D4AF37;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  background-color: #F3F4F6;
  color: #1F2937;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--primary);
}

p,
li,
span {
  color: #1F2937;
}

.hero,
.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6,
.hero p,
.hero li,
.hero span,
.hero div {
  color: #ffffff;
}